<% provide(:title, "室内设计_室内装潢设计_室内设计网站_住宅室内设计公司") %>

<div class="container-fluid core-main service">
  <%= render partial: 'second_level_nav', locals: { activity: params[:action] } %>
  <div class="row">
    <div class="col-md-8">
       <%= image_tag("interior.jpg", style: 'width:100%;', alt: "室内设计_室内装潢设计_室内设计网站_住宅室内设计公司") %>
    </div>
    <div class="col-md-4">
      <h3><%= t("services.interior_title") %></h3>
      <p><a href="https://thape-upload.oss-cn-shanghai.aliyuncs.com/uploads/service_file/interior_intro_file/1/20190107-thape_interior_intro.pdf" target="_blank">下载天华室内完整介绍</a></p>
      <p><%= raw(t("services.interior_content")) %></p>
    </div>
  </div>
</div>
