<% provide(:title, "建筑工程审图_规划设计审图") %>
<% provide(:meta_title, "建筑工程审图_规划设计审图") %>

<div class="container-fluid core-main service">
  <%= render partial: 'second_level_nav', locals: { activity: params[:action] } %>
  <div class="row">
    <div class="col-md-8">
       <%= image_tag("vetting.jpg", style: 'width:100%;', alt: "建筑工程审图_规划设计审图") %>
    </div>
    <div class="col-md-4">
      <h3><%= t("services.vetting_title") %></h3>
      <p><%= raw(t("services.vetting_content")) %></p>
    </div>
  </div>
</div>
