<% provide(:title, "VR建筑设计_VR住宅设计_VR室内设计") %>

<div class="container-fluid core-main service">
  <%= render partial: 'second_level_nav', locals: { activity: params[:action] } %>
  <div class="row">
    <div class="col-md-8">
       <%= image_tag("vrtech.jpg", style: 'width:100%;', alt: "VR建筑设计_VR住宅设计_VR室内设计") %>
    </div>
    <div class="col-md-4">
      <h3><%= t("services.vrtech_title") %></h3>
      <p><%= raw(t("services.vrtech_content")) %></p>
    </div>
  </div>
</div>
