<div class="container info">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag("building.jpg", class: "info-banner") %>
    </div>
  </div>
  <div class="row info-content">
    <div class="col-md-12">
      <h3 class="tianhua-font">未来20年，我们将如何引领城市生活？</h3>
      <p>
        随着中国城市化进程快速推进的同时，不可避免地带来了一些新的城市问题：城市人口的增加、城市形象与功能的更新、拥堵割裂的交通、老龄化的到来、城市建设的可持续……对城市问题的有效解决，将是引领未来城市设计与生活方式的关键。天华，作为长期专注于城市建设领域的专业服务者，未来20年，该如何通过设计迎接挑战、抓住机遇？

一、六大方向，聚力开启

2018年11月17日，天华六大研究中心正式挂牌——城市更新、TOD、居住、租赁住房、医养研究中心与建筑工业化技术中心共同聚焦城市问题的解决，将城市未来发展的六个重要方向与天华的发展紧密结合。

        敏锐的市场洞察力和长期在各类综合业务的大量实践积累为天华开展六大方向进一步的研究实践创造了基础，厚积薄发的天华六大研究中心如今正式对外露面，以期将天华的城市问题解决方案推向更全面而专业的高度，也述说着天华“人、企业、城市，持续发展”的社会责任感。

建筑设计的本源是将建筑的使用者纳入设计，营造给人以幸福的生活和工作场所。天华六大研究中心，将眼光从单体建筑投向更大尺度的城市设计，从本质上都是为了满足当下与未来生活在城市中不同人群的需求，并发现潜在的市场价值。

未来20年，天华将聚焦于引导城市未来发展的这六个方向进行研究与实践，共同为中国城市的不同人群打造更舒适的城市环境，引领更高效便捷的城市生活方式。

二、开拓资源，产学研合作引领行业标准

未来20年，与传统设计方法相比，用研究的方法做设计将更有优势。通过对问题和用户需求的深度研究，用专业的设计手法解决问题，为新一轮的研究创造基础，这一螺旋上升的过程是未来引领城市新生活方式的关键，也是天华六大研究中心的重点工作。

以实践和市场为导向的产学研合作是天华六大研究中心与一般研究机构的差异性所在。作为全国化公司，天华将加大对内部创新的激励，加强内部跨地域、跨公司的合作研究，用更为职业化和市场化的思路加速推动产学研成果的落地。

天华六大研究中心正在积极拓展外部合作与研究资源，近年来与哈佛大学、同济大学、东南大学等国内外顶尖建筑院校合作研发专项课题；同时与同策、品宅、城方等业内知名的专业公司合作开展研发咨询工作、针对具体项目开展探索实践、发表文章成果。

      </p>
    </div>
  </div>
</div>

