<div class="container personal">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag("man-b.jpg", class: "personal-img") %>
    </div>
    <div class="col-md-6">
      <h4>黄鼎业</h4>
      <hr>
      <h5>荣誉董事长</h5>
      <p>作为天华集团的董事、总建筑师，黄向明先生在加入天华之前，曾先后就职于多家中外设计公司：同济大学建筑设计研究院、美国波特曼建筑事务所、比利时Groep Planning 事务所等，并曾在这些知名建筑设计公司工作期间，参与设计众多具有影响力的优秀项目。



黄向明先生担任公司总建筑师以来，始终引领着天华建筑设计的最高水准，其管理和设计领导能力，已获得业内和市场的充分认可。



国外的求学经历以及丰富的与国际团队合作的经验，使其在将中西方设计理念和精髓融会贯通方面胜人一筹，同时也始终以国际视野引导设计风潮。黄向明先生与多家国内外著名的建筑师事务所和设计师，如凯里森、gensler、AECOM、意大利格里高蒂事务所等有过多项合作，与国内的优秀设计机构也有着多重的合作。



教育背景

同济大学建筑学学士

比利时鲁汶大学(K.U.Leuven)建筑硕士



社会任职

中国建筑学会建筑师分会理事



行业资质

一级注册建筑师



近期经历

同济大学建筑设计研究院建筑师

John Portman & Asso. Shanghai Office建筑师

比利时Groep Planning Partnership建筑师

IMAA 建筑规划集团建筑师

上海天华建筑设计有限公司总建筑师



代表项目

碧云国际社区、汇龙新城、浦江新镇、衢州大学图书馆、上海消防指挥中心、外高桥文化艺术中心、苏州高新区文体中心  </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h5>相关作品</h5>
      <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag("tianhau1-squashed.jpg", size: "80x80") %>
            </a>
          </div>
          <div class="media-body">
            <p>原来上海这么多顶级住宅都是这家公司设计的！——2016天华高端住宅系列专题之总览篇</p>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag("tianhau1-squashed.jpg", size: "80x80") %>
            </a>
          </div>
          <div class="media-body">
            <p>原来上海这么多顶级住宅都是这家公司设计的！——2016天华高端住宅系列专题之总览篇</p>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <%= image_tag("tianhau1-squashed.jpg", size: "80x80") %>
            </a>
          </div>
          <div class="media-body">
            <p>原来上海这么多顶级住宅都是这家公司设计的！——2016天华高端住宅系列专题之总览篇</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
