<div class="container-fluid core-main service">
  <ul class="list-inline second-level-nav">
    <li class="activity"><%= link_to '建筑', '#', class: 'tianhua-font' %></li>
    <li><%= link_to '室内', '#', class: 'tianhua-font' %></li>
    <li><a href="" class="tianhua-font">规划</a></li>
    <li><a href="" class="tianhua-font">景观</a></li>
    <li><a href="" class="tianhua-font">审图</a></li>
    <li><a href="" class="tianhua-font">技术咨询</a></li>
    <li><a href="" class="tianhua-font">VR技术</a></li>
  </ul>
  <div class="row">
    <div class="col-md-8">
       <%= image_tag("building.jpg", style: 'width:100%;') %>
    </div>
    <div class="col-md-4">
      <h3>建筑</h3>
      <p>目前天华建筑服务范围涵盖建筑设计、城市设计、结构及机电工程咨询与设计。专业领域包括：住宅、商业、办公、城市综合体、文化、医养等方面。通过16个分布于主要城市的分支机构网络，服务全国的客户和项目。天华建筑还与国内外学术机构合作，致力于推动对中国城市发展前沿课题的研究与实践。天华建筑以服务中国的城市发展、提高生活和工作的空间品质为己任，坚持对卓越设计、创新和综合全面的技术能力的不懈追求。</p>
    </div>
  </div>
</div>
