<h3>专业服务<small><%= link_to "修改", edit_admin_service_file_path(@service_file) %></small></h3>
<hr>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">专业服务 室内设计文件</div>
      <div class="panel-body">
        <p><%= @service_file.interior_intro_file.url if @service_file.interior_intro_file_identifier.present? %></p>
      </div>
    </div>
  </div>
</div>

